body{
  color:white;
  background-color: rgb(151, 151, 167);

}

.me{
  border: rgb(153, 85, 7) solid 10px;
}

.name{
  color: white;
  background-color:rgb(153, 85, 7);
  padding: 30px 0px 30px 0px;
  
}
header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10%;
  font-size: larger;
  font-weight: bold;
}
.contact{
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  font-weight: bold;
}
img{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 50%;
  
}
.content{
  
}
.statement{
  border: rgb(153, 85, 7) solid 10px;
}

.work{
border: rgb(153, 85, 7) solid 10px;
  
}

.school{
border: rgb(153, 85, 7) solid 10px;
}

.abilities{
  border: rgb(153, 85, 7) solid 10px;
  
}